@import '../../styles/colors';
@import '../../styles/icons';
@import '../../styles/helpers';

.game-tile {
  width: 100%;
  display: block;
  border: 1px solid $color-black;
  padding: 30px 10px;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-white;
    cursor: pointer;
  }

  &.selected {
    opacity: .75;
    border-color: $color-green;
  }

  .lock-icon {
    background-image: url('#{$circle}');
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-size: contain;
    display: inline-flex;
  }
  .open-tile {
    width: 1rem;
    height:1rem;
    display: inline-flex;
  }
  .selected-icon {
    background-image: url('#{$check}');
    background-position: center;
    background-size: contain;
  }
}