@import '../../styles/colors';

.game-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: $color-white;
  height: min(calc(100dvh - 180px), 70rem);
}

.game-grid-column {
  display: grid;
  grid-template-rows: repeat(10, minmax(0, 1fr));
}
